# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric / architectury

run/
.architectury-transformer/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# unknown crap that showed up

logs/

# orebit one-off build logs
/first-build.log
/gensources.log
